/**
 *
 *  Apenas setando width e height de todos os Mister Mxyzptlk
 *
 */
img[src="img/mr-mxyzptlk.jpg"] {
    height: 220px;
    width:  160px;
}



/**
 *
 *  Escala (Tamanho)
 *
 */

/*  (largura * 1.5) e (altura * 1.5)  */ 
.scale-2d-1-5 {
    transform:          scale(1.5, 1.5);
    -webkit-transform:  scale(1.5, 1.5);
}

/*  (largura * 1.5) */
.scale-X-1-5 {
    transform:          scale(1.5, 1.0);
    -webkit-transform:  scale(1.5, 1.0);
}

/*  (altura * 1.5) */
.scale-Y-1-5 {
    transform:          scale(1.0, 1.5);
    -webkit-transform:  scale(1.0, 1.5);
}



/**
 *
 *  Matrix
 *
 **/
 
/*  Matriz nula (não altera a vizualização) */
.identity-matrix {
    transform:          matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform:  matrix(1, 0, 0, 1, 0, 0);
}



/**
 *
 *  Skew
 *
 **/
 
.skew-20-20 {
    transform:          skew(20deg, 20deg);
    -webkit-transform:  skew(20deg, 20deg);
}

.skew-X-20 {
    transform:          skewX(20deg);
    -webkit-transform:  skewX(20deg);
}

.skew-X--20 {
    transform:          skewX(-20deg);
    -webkit-transform:  skewX(-20deg);
}

.skew-Y-20 {
    transform:          skewY(20deg);
    -webkit-transform:  skewY(20deg);
}

.skew-Y--20 {
    transform:          skewY(-20deg);
    -webkit-transform:  skewY(-20deg);
}



/**
 *
 *  Rotação
 *
 **/
 
/*  Rotação Z de 180º (inversão em Y)  */
.rotate-2d-180 {
    transform:          rotate(180deg);
    -webkit-transform:  rotate(180deg);
}

.rotate-2d-45  {
    transform:          rotate(45deg);
    -webkit-transform:  rotate(45deg);
}

.rotate-2d-90  {
    transform:          rotate(90deg);
    -webkit-transform:  rotate(90deg);
}

.rotate-2d--90  {
    transform:          rotate(-90deg);
    -webkit-transform:  rotate(-90deg);
}




/**
 *
 *  Translação (posição)
 *
 **/

/* (x += 50px)  */
.translate-50px-0px {
    transform:          translate(50px, 0px);
    -webkit-transform:  translate(50px, 0px);
}

/* (y += 50px)*/
.translate-0px-50px {
    transform:          translate(0px, 50px);
    -webkit-transform:  translate(0px, 50px);
}

/* (x += 50px) && (y += 50px)*/
.translate-50px-50px {
    transform:          translate(50px, 50px);
    -webkit-transform:  translate(50px, 50px);
}

/* andar metade do seu tamanho em X */
.translate-2d-X-half {
    transform:          translate(50%, 0%);
    -webkit-transform:  translate(50%, 0%);
}


/**
 *
 *  Origem da transformação
 *
 **/
.transform-origin-top-left {
    transform-origin:           top left;
    -webkit-transform-origin:   top left;
}

.transform-origin-top-center {
    transform-origin:           top center;
    -webkit-transform-origin:   top center;
}

.transform-origin-top-right {
    transform-origin:           top right;
    -webkit-transform-origin:   top right;
}

.transform-origin-bottom-left {
    transform-origin:           bottom left;
    -webkit-transform-origin:   bottom left;
}

.transform-origin-bottom-center {
    transform-origin:           bottom center;
    -webkit-transform-origin:   bottom center;
}

.transform-origin-bottom-right {
    transform-origin:           bottom right;
    -webkit-transform-origin:   bottom right;
}

.transform-origin-left-center {
    transform-origin:           left center;
    -webkit-transform-origin:   left center;
}

.transform-origin-center-center {
    transform-origin:           center center;
    -webkit-transform-origin:   center center;
}

.transform-origin-right-center {
    transform-origin:           right center;
    -webkit-transform-origin:   right center;
}
 